
a{
    text-decoration: none;
    color: inherit;
}


ul{
    margin:0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0a0a0a;
}

.header{
    background-color: #0a0a0a;
    padding: 33px 0 32px;
    color: #717171;
    font-size: 24px;
    line-height: 29px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;

}

.menu__item{
    padding-right: 30px;
}

.headline{
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}


.title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #490E84;
    margin:0 0 40px;
    text-transform: uppercase;
}

.headline__img{
    margin: 0 0 25px;
}

.headline__btn{
    display: inline-block;
    background: #490E84;
    border-radius: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 22px 117px 19px 118px;
}